<html>
   <head>
       <title>{% block head_title %}Welcome to my blog{% endblock %}</title>
   </head>
   <body>
       <h1>{% block title %}Welcome to my blog with Django framework!{% endblock %}</h1>
   {% block content %}
   <h2>Posts</h2>
   {% if posts %}
       <ul>
       {% for post in posts %}
           <li><a href="{{ post. }}">{{ post.title }}</a></li>
           <p>{{post.snippet}}</p>
           <p>{{post.author}}</p>
           <p>{{post.create_date}}</p>
       {% endfor %}
   {{ post.body }}
       </ul>
   {% else %}
       <p>There are no posts.</p>
   {% endif %}
   {% endblock content %}
   </body>
</html>
